<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<title>Roullette russe</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<body>

<div class="">
 <h1>La <sub>rouuuuuuuuuu</sub>lette de <sup>LA</sup> <i>M<sub>O</sub>R<sup>T</sup></i> ♥</h1>
 <p>jouer votre vie</br>et sauvegarder votre score(si vous survivez!!!)</p>
</div>
	{{scorehtml}}
	{{streakhtml}}
<div>
	<form action="/roll/" method="post">
			<button name="roll_button" class="roll" type="submit">Keep Rolling</button>
	</form>
	<form action="/save/" method="post">
			<button name="save_button" class="save" type="submit">Save</button>
	</form>
</div>
</body>
</html>

