<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<title>Roullette russe</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<body>

<div class="">
 <p>your are dead</p>
 <img src="{{ url_for('static', filename='image/bang.jpg') }}" alt="bang">
</div>
<div>
	<form action="/" method="get">
			<button name="index_button" class="index" type="submit">Restart</button>
	</form>
</div>
</body>
</html>

